/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html, body { height: 100%; }

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.container{
  padding-top: 6.5rem !important;
}
